* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}


.navbar{
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .second-nav{
  display: flex;
  align-items: center;
  gap: 80px;
}

.navbar .third-nav button{
  background-color: black;
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.navbar .third-nav button:active{
  scale: 0.95;
}



.section{
  height: 86vh;
  padding: 50px;
  background-image: url(https://plus.unsplash.com/premium_photo-1666913667082-c1fecc45275d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.section-2{
  height: 120vh;
  padding: 20px;
  background-color: #FFFFFF;

}

.section-2 .four{
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.section-2 .three{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.section-2 .one{
  display: flex;
  justify-content: space-between;
}

/* .section-2 .two{
  
} */

.section-2 .two{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-evenly;
}

.section-2 .two .a{
  background-color: #0D1A2D;
  height: 350px;
  width: 350px;
  padding: 40px;
  border-radius: 20px;

}

.section-2 .two .a h2{
  color: white;
  margin-top: 20px;

}

.section-2 .two .a h6{
  color: rgb(177, 170, 170);
  font-size: 20px;
}






.section-2 .two .b{
  background-color: #0269C6;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
 
}

.section-2 .two .b button{
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.section-2 .two .b button:active{
  scale: 0.95;
}

.section-2 .two .c{
  background-color: #F6F8FC;
 height: 350px;
  width: 350px;
  padding: 40px;
  border-radius: 20px;
}

.section-2 .two .c p{
  margin-bottom: 40px;
}

.section p{
  color: white;
}

.center{
  width: 50%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding: 20px;
  
}

.center h1{
  margin-bottom: 20px;
  color: white;
}

.center p{
  margin-bottom: 20px;
  color: white;
}

.center button{
  background-color: black;
  color: white;
  padding: 7px 14px;
  margin-top: 5px;
  font-weight: 100;
  border: none;
  border-radius: 50px;
  cursor: pointer;

}

.center button:active{
  scale: 0.95;
}

.bottom-section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bottom-section-1 .bottom-right{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer{
  height: 40vh;
  background-color: white;
    padding: 20px;
    background-color: red;

}

.footer .footer-left-div{
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.footer .footer-left-div  button{
  padding: 7px 14px;
  background-color: black;
  color: white;
  max-width: 120px;
  border: none;
  border-radius: 50px;
}